:root {
  /* colores */
  --color-text: #000000;
  --color-primary: #71a5de;
  --color-secondary: #26547c;
  --color-dark: #194a75;
  --color-bg: #fdebaf;

  /* fuentes */
  --font-roboto: "Roboto";
}

/* Modo claro */
body.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
}

/* Modo oscuro */
body.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}