@import "../../vars.css";

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center; /* Asegura que todo esté en la misma línea */
  gap: 10px; /* Espaciado entre los elementos */
  padding: 10px 20px;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 1000;
  margin: 0 10%;
  background-color: var(--color-dark);
}

button {
  transition: 0.3s ease-in-out;
}

.themeButton {
  font-size: 28px; /* Aumenta el tamaño */
  border: none; /* Elimina el borde */
  background: none; /* Quita cualquier fondo */
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.themeButton:hover {
  transform: scale(1.2); /* Efecto de aumento al pasar el mouse */
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}

title:hover {
  color: var(--color-secondary)
}

.menuBtn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(113, 165, 222, 0.5) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

.languageSelector {
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.languageButtons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.languageButtons button {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.languageButtons img {
  width: 30px;
  height: auto;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 20px;
}