@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-cark);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  border-radius: 15px;
}

.text {
  flex: 1;
  text-align: left;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--color-primary);
}

.text p {
  font-size: 28px;
  font-weight: 400;
  color: var(--color-secondary);
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.link a:hover {
  color: var(--color-primary);
}

.link img {
  width: 30px; 
  height: auto;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2)); 
  transition: transform 0.3s ease-in-out;
}

.link img:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}